#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release

override_dh_auto_install:
	dh_auto_install
	# Update icon cache after install
	if [ -d debian/linshot/usr/share/icons ]; then \
		gtk-update-icon-cache -f -t debian/linshot/usr/share/icons/hicolor 2>/dev/null || true; \
	fi
